<ng-content select="h1"></ng-content>
<!--c1c1
<p [ngClass]="{ active: valor, disabled: !valor }">Olá Mundo</p>
<p [ngStyle]="{ height: heightPx, background: backgroundColor }">Olá Mundo 2</p>

<br />
<hr />
<input [(ngModel)]="nome" />

<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{ item.nome }}</li>
-->
<ng-template ngFor let-item [ngForOf]="list">
  <p>{{ item.nome }}</p>
</ng-template>
<input [(ngModel)]="nome" />

<button (click)="salvar()">Salvar</button>

<ng-content select="hr"></ng-content>
